<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div th:fragment="content" th:remove="tag">
      <div class="m-2">
          <label>Short Description</label>
          <textarea id="shortDescription" class="form-control" th:field="*{shortDescription}" rows="5" required></textarea>
      </div>

    <div class="m-2">
        <label>Full Description</label>
        <textarea id="fullDescription" class="form-control" th:field="*{longDescription}" rows="10" required></textarea>
    </div>
</div>

</body>
</html>